# Ignore all files in the folders
databases/database/*
databases/users/*
archive/

# Exclude the folders themselves
!databases/database/
!databases/users/

FunnyAltF4.spec
rules.sk
compile b64/output.txt

dist/
build/