# Ignore all files in the folders
databases/database/*
databases/users/*
archive/

# Exclude the folders themselves
!databases/database/
!databases/users/

dist/
build/

FunnyAltF4.spec
rules.sk
compile b64/output.txt
system_info_report.html
album_icon.png